:root {
  --light-blue: #2196f3;
  --text-black: #000;
  --text-grey: #757575;
  --background: #2f303a;
  --text-white: #fff;
  --text-grey-dark: #212121;
  --link-grey: rgba(255, 255, 255, 0.6);
  --light-grey: #f5f4fa;
}
body {
  font-family: Roboto;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  font-style: normal;
}
body a:visited,
body a:active {
  color: inherit;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17em;
}
.logo span {
  color: var(--light-blue);
}
.site-nav .nav-link.current {
  color: var(--light-blue);
}

.nav-link,
.contact-link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--light-blue);
}
.contact-link {
  color: var(--text-grey);
}
.hero {
  background-color: var(--background);
}
.hero h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36em;
  color: var(--text-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero button {
  font-size: 16px;
  line-height: 1.86em;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--light-blue);
  border: none;
  letter-spacing: 0.02em;
}
.feautures h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-grey-dark);
  text-transform: uppercase;
}
.feautures p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.doing h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-grey-dark);
}
.team h3,
.team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-grey-dark);
}
.team p {
  font-weight: 400;
  color: var(--text-grey);
}
footer {
  background-color: var(--background);
}
footer .logo {
  color: var(--text-white);
}
address a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71em;
  color: var(--link-grey);
}
.address-link,
.address-link:visited {
  color: var(--text-white);
}
footer a.logo {
  color: var(--text-white);
}

/* portfolio */
.filter-buttons button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background-color: var(--light-grey);
  color: var(--text-grey-dark);
}
.filter-buttons button:hover,
.filter-buttons button:focus,
.filter-buttons button.active {
  color: var(--text-white);
  background-color: var(--light-blue);
}
.portfolio-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--text-grey-dark);
}
.portfolio-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
}
